
<ion-item-sliding #slidingItem>
    <!-- TODO: 
        Conectar task list page con el servicio de tasks.
        Interpolar campos dentro del snippet.
        Agregar a interfaz si la tarea esta completa o no-->

    <ion-item 
        [ngClass]="styleClass(snippetTask)" >

        <ion-checkbox disabled="true" [checked]="snippetTask.isCompleted" mode="ios"></ion-checkbox>
       
            <div class="snippet-content">

                <ion-note 
                    
                    class="snippet-category personal">
                    
                    {{snippetTask.category | titlecase}}
                    
                </ion-note>
                
                <div class="second-row-content">
                    <span class="strong">{{snippetTask.title | titlecase }}</span>
                    <div>
                        <span class="strong-small">{{formatedDate(snippetTask.date).split(' ')[1] | titlecase }} {{formatedDate(snippetTask.date).split(' ')[0]}}</span>
                        <span class="light">{{giveTimeFormat(snippetTask.hour)}}</span>
                    </div>
                    
                </div>
                
            </div>
    </ion-item>

    <ion-item-options side="end">
        <ion-item-option [id]="completeID(snippetTask.id)" type="button" [disabled]="snippetTask.isCompleted">
        <ion-icon slot="icon-only" name="checkmark-outline"></ion-icon>
        </ion-item-option>

        <ion-item-option [id]="snippetTask.id" type="button" color="danger">
        <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-item-option>

    </ion-item-options>

    <ion-modal #modalComplete [trigger]="completeID(snippetTask.id)">
        <ng-template>
          <ion-content>
            <ion-toolbar>
              <ion-title>¿Completar Tarea?</ion-title>
            </ion-toolbar>
            <ion-list class="modal" lines="inset">
                <div>
                    <ion-item 
                      class=" complete-option modal-item" 
                      [button]="true" 
                      (click)="completeTask(snippetTask.id,snippetTask.isCompleted,slidingItem)"
                      (click)="modalComplete.dismiss()" 
                      (click)="slidingItem.close()">
                      Completar
                    </ion-item>
                </div>
                
                <div>
                    <ion-item 
                      class="modal-item" 
                      [button]="true" 
                      (click)="modalComplete.dismiss()" 
                      (click)="slidingItem.close()">
                      Cancelar                  
                    </ion-item>
                </div>
            </ion-list>
          </ion-content>
        </ng-template>
      </ion-modal>

    <ion-modal #modalDelete [trigger]="snippetTask.id">
        <ng-template>
          <ion-content>
            <ion-toolbar>
              <ion-title>¿Eliminar tarea?</ion-title>
            </ion-toolbar>
            <ion-list class="delete-modal" lines="inset">
                <div>
                    <ion-item class=" delete-option modal-item" [button]="true" (click)="deleteTask(snippetTask.id)" (click)="modalDelete.dismiss()" (click)="slidingItem.close()">
                    
                        Borrar
                    
                    </ion-item>
                </div>
                
                <div>
                    <ion-item class="modal-item" [button]="true" (click)="modalDelete.dismiss()" (click)="slidingItem.close()">
                    
                        Cancelar
                    
                    </ion-item>
                </div>
                
            </ion-list>
          </ion-content>
        </ng-template>
      </ion-modal>

</ion-item-sliding>
    
