
<ion-item-sliding #slidingItem>
    <!-- TODO: 
        Conectar task list page con el servicio de tasks.
        Interpolar campos dentro del snippet.
        Agregar a interfaz si la tarea esta completa o no-->

    <ion-item 
        [ngClass]="{'personal': snippetTask.category === 'personal',
                    'work':snippetTask.category === 'work', 
                    'misc':snippetTask.category === 'misc',
                    'completed':snippetTask.isCompleted}" >

        <ion-checkbox disabled="true" [checked]="snippetTask.isCompleted" mode="ios"></ion-checkbox>
       
            <div class="snippet-content">

                <ion-note 
                    
                    class="snippet-category personal">
                    
                    {{snippetTask.category | titlecase}}
                    
                </ion-note>
                
                <div class="second-row-content">
                    <span class="strong">{{snippetTask.title | titlecase }}</span>
                    <div>
                        <span class="strong-small">Mayo 15</span>
                        <span class="light">11:52 PM</span>
                    </div>
                    
                </div>
                
            </div>
    </ion-item>

    <ion-item-options side="end">
        <ion-item-option type="button" (click)="completeTask(snippetTask.id,snippetTask.isCompleted,slidingItem)">
        <ion-icon slot="icon-only" name="checkmark-outline"></ion-icon>
        </ion-item-option>

        <ion-item-option type="button" (click)="deleteTask(snippetTask.id)" color="danger">
        <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-item-option>

    </ion-item-options>
</ion-item-sliding>
    
