
.snippet-content{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    min-height: 65px;
    flex: auto;
}

.second-row-content{
    display: flex;
    min-width: 62.5vw;
    justify-content: space-between;
}
.snippet-content span{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.strong{
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    color: #6F7583;
    text-overflow: ellipsis;
}

.strong-small{
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    color: #6F7583;
}

.light{
    font-style: italic;
    font-size: 14px;
    opacity: 0.8;
    padding-left: 5px; 
}

/* ion-note category styles */

ion-note.snippet-category{
    font-style: italic;
    font-weight: bold;
    font-size: 14px;
    opacity: 0.8;
}

ion-item.personal .snippet-content ion-note{
    --color: #A5AAF9;
}

ion-item.work .snippet-content ion-note{
    --color: #f9cb41;
}

ion-item.shop .snippet-content ion-note{
    --color: #FD97C8;
}

ion-item.house .snippet-content ion-note{
    --color: #7bc013;
}

ion-item.univer .snippet-content ion-note{
    --color: #fdb797;
}

ion-item.expired .snippet-content ion-note{
    --color: rgb(175, 0, 0);
}

/* ******************************************************************** */


ion-checkbox {
    --size: 32px;
    --checkbox-background-checked: #53b29f;
    --checkmark-width: 2px;
    --border-width: 3px;

    width: auto;
    margin-right: 14px;
    margin-left: 10px;
    /* background-color: #f5f5f5;  */
}

ion-checkbox::part(container) {
    border-radius: 50%;
}

/* ion-checkbox category styles */

ion-item.personal ion-checkbox{
    --border-color: #A5AAF9;
    --border-color-checked: #A5AAF9;
}

ion-item.work ion-checkbox{
    --border-color: #f9cb41;
    --border-color-checked: #f9cb41;
}

ion-item.shop ion-checkbox{
    --border-color: #FD97C8;
    --border-color-checked: #FD97C8;
}

ion-item.house ion-checkbox{
    --border-color: #7bc013;
    --border-color-checked: #7bc013;
}

ion-item.univer ion-checkbox{
    --border-color: #fdb797;
    --border-color-checked: #fdb797;
}

ion-item.expired ion-checkbox{
    --border-color: rgb(175, 0, 0);
    --border-color-checked: rgb(175, 0, 0);
}


/* **************************************************** */
  
ion-item {
    --padding-start:0px;


}

ion-item-option{
    --background: #10b341;
}

ion-item.completed{
    --background: #ededed;
}

ion-item.completed .snippet-content .strong{
    text-decoration: line-through;
}

ion-modal {
    --height: 20%;
    --border-radius: 16px;
    --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    --width: 75%;
  }
  
  ion-modal::part(backdrop) {
    background: rgba(209, 213, 219);
    opacity: 1;
  }
  
  ion-modal ion-toolbar {
    --background: #0d9277;
    --color: white;
  }

ion-toolbar{
    text-align: center;
}

.delete-modal{
    align-items: center;
    display: flex;
    flex-direction: column;
}


ion-item.delete-option{
    color: rgb(255, 82, 82);
}

ion-item.modal-item{
    --background-activated: #fff;
    --ripple-color: #fff;
    --inner-padding-end:0px;
}
