h1{
    text-align: center;
    font-weight: bold;
    color: #53b29f;
}

.description-label{
    min-height: 90px;
}

p{
    height: 100%;
    word-wrap: break-word;
    white-space: normal;
}

ion-label{
    font-weight: bold;
    opacity: 0.8;
}

ion-modal {
--height: 50%;
--border-radius: 16px;
--box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

ion-modal::part(backdrop) {
background: rgba(209, 213, 219);
opacity: 1;
}

ion-modal ion-toolbar {
--background: #53b29f;
--color: white;
}

ion-button{
    --color:white;
}