.live-clock{
    display: flex;
    justify-content: space-evenly;
    box-shadow: 1px 6px 8px 3px rgba(0, 0, 0, 0.203); 
    border-radius: 10px;
}

.live-clock h1{
    font-size: 3rem;
    font-weight: bold;
    color: #53b29f;
    margin-top: 5px;
}

.live-clock h2{
    font-size: 1.7rem;
    font-weight: bold;
    color: #a4ded2;
    align-self: flex-end;
    margin-top: 5px;
}

.live-clock-charging{
    display: flex;
    justify-content: space-evenly;
    box-shadow: 1px 6px 8px 3px rgba(0, 0, 0, 0.203); 
    border-radius: 10px;
    background-color: transparent;
}

ion-spinner{
    --color: #0d9277;
    height: 60px;
    width: 60px;
    margin: 6px;
}


