.custom-card{
    width: 250px;
    /* height: 180px; */
    margin: 8px 4px 8px 18px;
    height: 85%;
}

.custom-card-vertical{
    width: 90%;
    /* height: 110px; */
    margin: 8px 4px 8px 18px;
}

.custom-card-vertical .header{
    display: flex;
    justify-content: space-between;
}

.strong{
    color: #53b29f;
    font-weight: bold;
    padding-right: 5px;
}

.text-container{
    max-width: 80%;
}

p{
    margin-top: 5px;
    text-overflow: ellipsis;
}

hr{
    height:1px;
    border-width:0;
    color:grey;
    background-color:grey;
}

.horizontal-strip{
    border-bottom-style: inset;
    border-bottom-width: 7px;
}

.vertical-strip{
    border-left-style: solid;
    border-left-width: 7px;
}

.personal-style{
    border-color: #A5AAF9;
}

.work-style{
    border-color: #f9cb41;
}

.shopping-style{
    border-color: #FD97C8;
}

.house-style{
    border-color: #7bc013;
}

.university-style{
    border-color: #fdb797;
}

.expired-style{
    border-color: rgb(175, 0, 0);
}

.expired-style .strong{
    color: rgb(175, 0, 0);
    text-decoration: line-through;
}

.personal-style ion-checkbox{
    --border-color: #A5AAF9;
    --border-color-checked: #A5AAF9;
}

.work-style ion-checkbox{
    --border-color: #f9cb41;
    --border-color-checked: #f9cb41;
}

.shopping-style ion-checkbox{
    --border-color: #FD97C8;
    --border-color-checked: #FD97C8;
}

.house-style ion-checkbox{
    --border-color: #7bc013;
    --border-color-checked: #7bc013;
}

.university-style ion-checkbox{
    --border-color: #fdb797;
    --border-color-checked: #fdb797;
}

.expired-style ion-checkbox {
    --checkbox-background-checked: rgb(175, 0, 0)  ;
    --border-color-checked: rgb(175, 0, 0);

}

ion-checkbox {
    --checkbox-background-checked: #53b29f;
    --checkmark-width: 2px;
    --border-width: 3px;

    opacity: 0.5;
}