.custom-card{
    width: 250px;
    /* height: 180px; */
    margin: 8px 4px 8px 18px;
 
}

.custom-card-vertical{
    width: 90%;
    /* height: 110px; */
    margin: 8px 4px 8px 18px;

}

.custom-card-vertical .header{
    display: flex;
    justify-content: space-between;
}

.strong{
    color: #53b29f;
    font-weight: bold;
    padding-right: 5px;
}

.text-container{
    max-width: 80%;
}

p{
    margin-top: 5px;
    text-overflow: ellipsis;
}

hr{
    height:1px;
    border-width:0;
    color:grey;
    background-color:grey;
}

.horizontal-strip{
    border-bottom-style: inset;
    border-bottom-width: 7px;
}

.vertical-strip{
    border-left-style: solid;
    border-left-width: 7px;
}

.personal-style{
    border-color: #989efa;
}

.work-style{
    border-color: #f8d79d;
}

.misc-style{
    border-color: #ff7fbd;
}

ion-checkbox {
    --checkbox-background-checked: #53b29f;
    --checkmark-width: 2px;
    --border-width: 3px;

    opacity: 0.5;
}