<ion-card  
    [ngClass]="{
        'horizontal-strip custom-card': !isVertical,
        'vertical-strip custom-card-vertical':isVertical,
        'todo-style': task.category === 'todo',
        'ongoing-style': task.category === 'ongoing',
        'done-style': task.category === 'done'}">

    <ion-card-content>
      <h4>{{task.title}}</h4>
      <div *ngIf="!isVertical; else showVertical">
        <span>{{task.date}}</span>
        <hr>
        <span>Descripción:</span>
        <br>
        <p>{{task.description}}</p>
      </div>

      <ng-template #showVertical>
        <p>{{task.description}}</p>
        <hr>
        <span>Hoy</span>
        <span>11:52 PM</span>
      </ng-template>
      
    </ion-card-content>
    
</ion-card>