<ion-card  
    [ngClass]="{
        'horizontal-strip custom-card': !isVertical,
        'vertical-strip custom-card-vertical':isVertical,
        'personal-style': task.category === 'personal',
        'work-style': task.category === 'work',
        'misc-style': task.category === 'misc'}">

    <ion-card-content>
      <div *ngIf="!isVertical; else showVertical">
        <h4 class="strong">{{task.title}}</h4>
      
        <span>{{formatedDate(task.date)}}</span>
        <hr>
        <span>Descripción:</span>
        <br>
        <p>{{task.description}}</p>
      </div>

      <ng-template #showVertical>

        <div class="header">
          <div>
            <h4 class="strong">{{task.title}}</h4>
            <p>{{task.description}}</p>
          </div>
          <ion-checkbox disabled="true" [checked]="true" mode="ios"></ion-checkbox>
        </div>

        <hr>
        <span class="strong">{{formatedDate(task.date).split(' ')[1] | titlecase }} {{formatedDate(task.date).split(' ')[0]}}</span>
        <span>{{giveTimeFormat(task.hour)}}</span>
      </ng-template>
      
    </ion-card-content>
    
</ion-card>