.task-scroller-horizontal{
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    height: 200px;
}

.task-scroller-vertical{
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
}


