.custom-card{
    width: 250px;
    height: 180px;
}

h4{
    color: #6F7583;
    font-weight: bold;
}


p{
    margin-top: 5px;
}

hr{
    height:1px;
    border-width:0;
    color:black;
    background-color:black
}

.horizontal-strip{
    border-left-color: #A5AAF9;
    border-left-style: solid;
    border-left-width: 5px;
}

.horizontal-strip .custom-card{
    margin-left: 0px;
}

