.main-container{
  overflow-y: hidden;
  height: 100%;
}

.home-container{
  padding: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: hidden;
  max-height: 60vh;
}

.home-container span{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-style:normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  color: #535353;
}

.flex-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.flex-container p{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;

}

.flex-container a{
  text-decoration: none;
}

.live-clock{
  width: -webkit-fill-available;
}

.strong-text{
  font-weight: 600;
}

.light-text{
  color: #6F7583;
  font-weight: 500;
  margin-left: 5px;
}

.task-scroller-container{
  margin-top: -5px;
}

a{
  color: #53b29f;
  font-weight: 600;
}

ion-icon{
  
  font-size: 100px;
  opacity: 0.65;
}

ion-fab-button{
  --border-radius: 15px;
  --box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.3), 0px 1px 3px 1px rgba(0, 0, 0, 0.15);
  --background: #53b29f;
  --background-activated: #0d9277;

  margin-right: 5px;
  margin-bottom: 10px;
}

app-task-scroller{
  overflow-y: auto;
}